# Question 4 Part 1
- Use ‘movies_awards’ data set.
- You are supposed to extract data from the awards column in this dataset and split it into several columns. An example is given below.
- The awards has details of wins, nominations in general and also wins and nominations in certain categories(e.g. Oscar, BAFTA etc.)
- You are supposed to create a win and nominated column (these 2 columns contain total number of wins and nominations) and other columns that extract the number of wins and nominations for each category of award.
- If a movie has 2 Oscar nominations and 4 Oscar won, the columns Oscar_Awards_Won should have value 4 and Oscar_Awards_Nominated should have value 2. You should also have a total won and nominated column which aggregates all the awards (won or nominated).
- Create two separate columns for each award category (won and nominated).
- Write your output to a csv file.

In [282]:
import pandas as pd

In [283]:
ma = pd.read_csv('/Users/lizhiming/Desktop/Assignment 3/Data/movies_awards.csv', sep=',')

In [284]:
ma = ma[ma['Awards'].notnull()]
ma['Awards_won'] = ma['Awards'].str.extract('(\d+) win', expand=True)
ma['Awards_nominated'] = ma['Awards'].str.extract('(\d+) nomination', expand=True)

In [285]:
def strip_plural(title):
    if str(title).endswith('s'):
        return str(title)[:-1]
    else:
        return str(title)

In [286]:
ma[['Won_num','Won_name']] = ma['Awards'].str.extract('Won (\d+) (.*). Another', expand=True)
ma[['Nominated_num','Nominated_name']]= ma['Awards'].str.extract('Nominated for (\d+) (.*). Another', expand=True)

In [287]:
ma['Won_name']= ma['Won_name'].apply(lambda x: strip_plural(x))
ma['Nominated_name']= ma['Nominated_name'].apply(lambda x: strip_plural(x))

In [288]:
ma = ma.drop_duplicates()
df1 = ma[['imdbID','Won_name','Won_num']]
df1 = df1.pivot(index = 'imdbID', columns='Won_name', values='Won_num').drop(['nan'],1)
df1 = df1.add_suffix('_won')
df2 = ma[['imdbID','Nominated_name','Nominated_num']]
df2 = df2.pivot(index = 'imdbID', columns='Nominated_name', values='Nominated_num').drop(['nan'],1)
df2 = df2.add_suffix('_nominated')

In [289]:
df = pd.concat([df1,df2],axis =1)

In [290]:
sub_df = ma[['imdbID','Title','Awards','Awards_won','Won_num','Awards_nominated','Nominated_num']].sort_values(by='imdbID')
sub_df.set_index('imdbID',inplace=True)
result_df = sub_df.join(df, how='inner')
result_df.head()

,Title,Awards,Awards_won,Won_num,Awards_nominated,Nominated_num,Golden Globe_won,Oscar_won,Primetime Emmy_won,BAFTA Film Award_nominated,Golden Globe_nominated,Oscar_nominated,Primetime Emmy_nominated
imdbID,,,,,,,,,,,,,
tt0038650,It's a Wonderful Life,Nominated for 5 Oscars. Another 6 wins & 1 nom...,6,NaN,1,5,None,None,None,None,None,5,None
tt0062622,2001: A Space Odyssey,Won 1 Oscar. Another 13 wins & 7 nominations.,13,1,7,NaN,None,1,None,None,None,None,None
tt0070992,Happy Days,Won 3 Golden Globes. Another 13 wins & 19 nomi...,13,3,19,NaN,3,None,None,None,None,None,None
tt0076759,Star Wars: Episode IV - A New Hope,Won 6 Oscars. Another 48 wins & 28 nominations.,48,6,28,NaN,None,6,None,None,None,None,None
tt0077687,The Hobbit,1 win & 2 nominations.,1,NaN,2,NaN,None,None,None,None,None,None,None

In [291]:
result_df = result_df.fillna(0)

In [292]:
result_df['Awards_won'] = result_df['Awards_won'].astype(int) + result_df['Won_num'].astype(int)
result_df['Awards_nominated'] = result_df['Awards_nominated'].astype(int) + result_df['Nominated_num'].astype(int)

In [297]:
result_df = result_df.drop(['Won_num','Nominated_num'], axis =1)

In [298]:
result_df.to_csv('Q4_Part_1.csv', sep=',', index=False)