# Question 2 Part 2
- Use 'employee_compensation' data set.
- Data contains fiscal and calendar year information. Same employee details exist twice in the dataset. Filter data by calendar year and find average salary (you might have to find average for each of the columns for every employee. Eg. Average of Total Benefits, Average of total compensation etc.) for every employee.
- Now, find the people whose overtime salary is greater than 5% of salaries (salaries refers to ’Salaries' column)
- For each ‘Job Family’ these people are associated with, calculate the percentage of total benefits with respect to total compensation (so for each job family you have to calculate average total benefits and average total compensation). Create a new column to hold the percentage value.
- Display the top 5 Job Families according to this percentage value using df.head().
- Write the output (jobs and percentage value) to a csv.

In [1]:
import pandas as pd

In [2]:
ec = pd.read_csv('../Data/employee_compensation.csv', sep=',')

In [3]:
df = ec[ec['Year Type'] == 'Calendar'].reset_index(drop=True)  #filter by calender year

In [4]:
avg_salary = df[['Salaries','Overtime','Other Salaries','Total Salary','Retirement','Health/Dental','Other Benefits','Total Benefits','Total Compensation']].mean(axis=0)
avg_salary   #calculate the average number for each compensation type

Salaries               64973.851896
Overtime                4591.135547
Other Salaries          3834.299165
Total Salary           73399.286608
Retirement             13087.974695
Health/Dental           9197.973054
Other Benefits          4798.753051
Total Benefits         27084.700801
Total Compensation    100483.987409
dtype: float64

In [5]:
rate = 0.05
ot_df = df[df['Overtime'] > rate*df['Salaries']].reset_index(drop=True)
ot_df.head()     #people whose overtime is greater than 5% of salaries

,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2014,5,Culture & Recreation,REC,Recreation and Park Commission,261.0,"Laborers, Local 261",3400,Agriculture & Horticulture,...,23029,63978.00,17039.61,2184.23,83201.84,14287.99,13054.95,6721.63,34064.57,117266.41
1,Calendar,2016,5,Culture & Recreation,FAM,Fine Arts Museum,39.0,"Stationary Engineers, Local 39",7100,Administrative-Labor & Trades,...,20763,133977.95,20699.15,0.00,154677.10,24039.10,13890.30,10671.44,48600.84,203277.94
2,Calendar,2013,2,"Public Works, Transportation & Commerce",CWP,PUC Wastewater Enterprise,39.0,"Stationary Engineers, Local 39",7300,Journeyman Trade,...,8705,86530.02,17962.95,10555.21,115048.18,18665.90,12918.24,9328.44,40912.58,155960.76
3,Calendar,2015,1,Public Protection,POL,Police,911.0,Police Officers' Association,Q000,Police Services,...,13888,117139.22,20576.29,5747.49,143463.00,23170.33,12424.51,2240.80,37835.64,181298.64
4,Calendar,2015,1,Public Protection,FIR,Fire Department,798.0,"Firefighters - Miscellaneous, Local 798",H000,Fire Services,...,38574,130341.65,29607.28,16292.82,176241.75,28793.64,15052.76,2995.69,46842.09,223083.84

In [6]:
benefit_df = df.groupby('Job Family')['Total Benefits','Total Compensation'].mean()
benefit_df['Percent_Total_Benefit'] = benefit_df['Total Benefits']/benefit_df['Total Compensation']
benefit_df = benefit_df.sort_values(by = 'Percent_Total_Benefit', ascending=False)
benefit_df.head()    #group by Job Family and sort

,Total Benefits,Total Compensation,Percent_Total_Benefit
Job Family,,,
Public Service Aide,5267.903671,14956.280236,0.352220
Park & Zoo,17946.662641,54776.310325,0.327635
Housekeeping & Laundry,24286.767749,74189.739399,0.327360
"Clerical, Secretarial & Steno",21549.044311,66517.545454,0.323960
Dietary & Food,19673.743314,61537.993465,0.319701

In [7]:
benefit_df.to_csv('Q2_Part_2.csv', sep=',', index=True)