In [148]:
import pandas as pd
import matplotlib.pyplot as plt

In [101]:
df_15 = pd.read_csv('world-happiness/2015.csv', sep=',')
df_16 = pd.read_csv('world-happiness/2016.csv', sep=',')

In [102]:
df_1516 = pd.merge(df15, df16, on='Country', how='outer')
df_1516.head(3)

,Country,Region_x,Happiness Rank_x,Happiness Score_x,Standard Error,Economy (GDP per Capita)_x,Family_x,Health (Life Expectancy)_x,Freedom_x,Trust (Government Corruption)_x,...,Happiness Score_y,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita)_y,Family_y,Health (Life Expectancy)_y,Freedom_y,Trust (Government Corruption)_y,Generosity_y,Dystopia Residual_y
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939

In [103]:
df_rank = df_1516[['Country','Happiness Rank_x','Happiness Rank_y']]
df_rank.head()

       Country  Happiness Rank_x  Happiness Rank_y
0  Switzerland               1.0               2.0
1      Iceland               2.0               3.0
2      Denmark               3.0               1.0
3       Norway               4.0               4.0
4       Canada               5.0               6.0

In [104]:
df_rank = df_rank.fillna(1000)
df_rank['Rank Difference'] = df_rank['Happiness Rank_y'] - df_rank['Happiness Rank_x']

In [105]:
df_rank.head()

       Country  Happiness Rank_x  Happiness Rank_y  Rank Difference
0  Switzerland               1.0               2.0              1.0
1      Iceland               2.0               3.0              1.0
2      Denmark               3.0               1.0             -2.0
3       Norway               4.0               4.0              0.0
4       Canada               5.0               6.0              1.0

In [107]:
df_rank.sort_values(by = 'Rank Difference').head()

               Country  Happiness Rank_x  Happiness Rank_y  Rank Difference
158        Puerto Rico            1000.0              15.0           -985.0
159             Belize            1000.0              52.0           -948.0
160            Somalia            1000.0              76.0           -924.0
161  Somaliland Region            1000.0              97.0           -903.0
162            Namibia            1000.0             113.0           -887.0

In [114]:
region_top = df_16[:50]['Region'].value_counts()
region_mid = df_16[50:100]['Region'].value_counts()
region_btm = df_16[100:]['Region'].value_counts()

In [117]:
region_top

Western Europe                     17
Latin America and Caribbean        15
Middle East and Northern Africa     7
Central and Eastern Europe          3
Southeastern Asia                   3
Australia and New Zealand           2
North America                       2
Eastern Asia                        1
Name: Region, dtype: int64

In [118]:
df_16.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [133]:
df_16.max()[6:]

Economy (GDP per Capita)         1.82427
Family                           1.18326
Health (Life Expectancy)         0.95277
Freedom                          0.60848
Trust (Government Corruption)    0.50521
Generosity                       0.81971
Dystopia Residual                3.83772
dtype: object

In [142]:
df_dist16 = pd.DataFrame(df_16.mean()[4:], columns=['mean'])
df_dist16['max'] = df_16.max()[6:]
df_dist16['min'] = df_16.min()[6:]
df_dist16

                                   mean      max      min
Economy (GDP per Capita)       0.953880  1.82427        0
Family                         0.793621  1.18326        0
Health (Life Expectancy)       0.557619  0.95277        0
Freedom                        0.370994  0.60848        0
Trust (Government Corruption)  0.137624  0.50521        0
Generosity                     0.242635  0.81971        0
Dystopia Residual              2.325807  3.83772  0.81789

In [147]:
df_dist15 = pd.DataFrame(df_15.mean()[3:], columns=['mean'])
df_dist15['max'] = df_15.max()[5:]
df_dist15['min'] = df_15.min()[5:]
df_dist15

                                   mean      max      min
Economy (GDP per Capita)       0.846137  1.69042        0
Family                         0.991046  1.40223        0
Health (Life Expectancy)       0.630259  1.02525        0
Freedom                        0.428615  0.66973        0
Trust (Government Corruption)  0.143422  0.55191        0
Generosity                     0.237296  0.79588        0
Dystopia Residual              2.098977  3.60214  0.32858